{% load bootstrap5 %}
{% bootstrap_css %}
{% load custom_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">GottaGo</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        {% if user.is_authenticated and user|has_group:"PMA" %}
                            <a class="nav-link" href="{% url 'profile' %}">Welcome PMA {{ user|display_name }}!</a>
                        {% elif user.is_authenticated %}
                            <a class="nav-link" href="{% url 'profile' %}">Welcome, {{ user|display_name }}!</a>
                        {% else %}
                            <a class="nav-link" href="#">Welcome, Guest!</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project_creator' %}">Create a Travel Plan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'plans' %}">View Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'join_group' %}">Join Group</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="flex-grow-1 d-flex flex-column container text-center">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-light py-2">
        <div class="container text-dark text-center">
            This website was made by group B-25 for CS3240
        </div>

    </footer>
</body>