{% load bootstrap5 %}
{% bootstrap_css %}
{% load custom_filters %}
{% load static %}
{% load bootstrap_icons %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                GottaGo
{#                {% bs_icon 'alarm' %}#}
                <img src="{% static 'images/gottago_logo.png' %}" alt="GottaGo Logo" class="img-fluid" style="max-width: 50px; height: auto">
            </a>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-flex align-items-center">
                        {% if user.is_authenticated and user|has_group:"PMA" %}
                            <a class="nav-link" href="{% url 'profile' %}">Welcome PMA {{ user|display_name }}!</a>
{#                        {% elif user.is_authenticated %}#}
{#                            <a class="nav-link" href="{% url 'profile' %}"> {% bs_icon 'person-circle' size="1.5em" color="blue" %} Welcome, {{ user|display_name }}! </a>#}
{#                            <a class="nav-link" href="{% url 'profile' %}"> <img src="{{ user.socialaccount_set.all.0.get_avatar_url  }} " width="25" height="25" class="rounded-circle"/>  Welcome, {{ user|display_name }}! </a>#}
                        {% elif not user.is_authenticated %}
                            <a class="nav-link" href="{% url 'profile' %}">Welcome, Guest!</a>
                        {% endif %}
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'explore_plans' %}"> Explore Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project_creator' %}">Create a Travel Plan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'plans' %}">My Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'join_group' %}">Join Group</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'joinrequests' %}">Requests {{user|num_invites}}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'joinrequests' %}">Requests</a>
                        </li>
                    {% endif %}
                    {% if user|has_group:"PMA" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'all_plans' %}">View All Plans</a>
                        </li>
                    {% endif %}

                    <li class="nav-item d-flex align-items-center">
                        {% if user.is_authenticated and user|has_group:"PMA" %}
                            <a class="nav-link" href="{% url 'profile' %}">Welcome PMA {{ user|display_name }}!</a>
                        {% elif user.is_authenticated %}
{#                            <a class="nav-link" href="{% url 'profile' %}"> {% bs_icon 'person-circle' size="1.5em" color="blue" %} Welcome, {{ user|display_name }}! </a>#}
                            <a class="nav-link" href="{% url 'profile' %}"> <img src="{{ user.socialaccount_set.all.0.get_avatar_url  }} " width="25" height="25" class="rounded-circle"/>  Welcome, {{ user|display_name }}! </a>
                        {% else %}
                            <a class="nav-link" href="{% url 'profile' %}">Welcome, Guest!</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <main class="flex-grow-1 d-flex flex-column container text-center">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-light py-2">
        <div class="container text-dark text-center">
            This website was made by group B-25 for CS3240
        </div>

    </footer>

{#    <script>#}
{#        document.querySelectorAll('.icon-hover').forEach(item => {#}
{#            item.addEventListener('mouseover', () => {#}
{#                const svg = item.querySelector('svg');#}
{#                if (svg) {#}
{#                    svg.style.transform = 'scale(1.1)';#}
{#                    svg.style.filter = 'invert(1)'#}
{#                }#}
{#            });#}
{#            item.addEventListener('mouseout', () => {#}
{#                const svg = item.querySelector('svg');#}
{#                if (svg) {#}
{#                    svg.style.transform = 'scale(1)';#}
{#                    svg.style.filter = 'invert(0)'#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}
</body>