{% extends "users/base.html" %}
{% block navbar_and_footer %}
{% load custom_filters %}
{% load static %}
{% block content %}

<div class="plans-form rounded-2 shadow-sm p-4 py-5 bg-white">
    <h1 class="text-center mb-3 fs-3 fw-bold">Explore All Travel Plans</h1>
    <p class="text-center mt-2 text-paragraph"> To join any specific plans, login and enter the desired group code. Then wait until the plan owner accepts your join request!</p>
    {% if explore_travel_plans %}
        <div class="list-group">
            {% for plan in explore_travel_plans %}
                <div class="list-group-item mb-3 p-3 border rounded shadow-sm">
                    <h3 class="mb-1">{{ plan.plan_name }}</h3>
                    <p class="text-muted mb-1">Created by: <strong>{{ plan.user.username }}</strong></p>
                    <p class="text-muted mb-1">Group Code: <strong>{{ plan.primary_group_code }}</strong></p>
                    <p class="text-muted mb-1">Plan Description: <strong>{{ plan.trip_description }}</strong></p>
                </div>
            {% endfor %}
        </div>
        <div class="pagination" style="justify-content: center">
            <span class="step-links">
                {% if explore_travel_plans.has_previous %}
                    {% if explore_travel_plans.paginator.num_pages > 2 and explore_travel_plans.number > 2 %}
                        <a href="?page=1"><button class="btn btn-primary">&laquo; First</button></a>
                    {% endif %}
                    <a href="?page={{ explore_travel_plans.previous_page_number }}"><button class="btn btn-primary">Previous</button></a>
                {% endif %}

                <span class="current">
                    Page {{ explore_travel_plans.number }} of {{ explore_travel_plans.paginator.num_pages }}.
                </span>

                {% if explore_travel_plans.has_next %}
                    <a href="?page={{ explore_travel_plans.next_page_number }}"><button class="btn btn-primary">Next</button></a>
                    {% if explore_travel_plans.paginator.num_pages > 2 and explore_travel_plans.number < explore_travel_plans.paginator.num_pages|add:"-1" %}
                        <a href="?page={{ explore_travel_plans.paginator.num_pages }}"><button class="btn btn-primary">Last &raquo;</button></a>
                    {% endif %}
                {% endif %}
            </span>
        </div>

        <div class="text-center">
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn btn-primary">Login for more details!</a>
            {% endif %}
        </div>
    {% else %}
        <p class="text-center mt-2 fs-5 text-paragraph">No travel plans are available.</p>
    {% endif %}
</div>

{% endblock content %}
{% endblock %}
