{% extends "users/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load custom_filters %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GottaGo - Home</title>
</head>

{% block content %}
    <div class="text-center pt-1">
        <div class="d-flex justify-content-center align-items-center mb-3">
            <h1 class="display-4 fw-semibold  pt-5 me-2">GottaGo</h1>
            <img src="{% static 'images/gottago_logo.png' %}" alt="GottaGo Logo" class="img-fluid" style="max-width: 150px; height: auto">
        </div>
        <p class="lead fw-light fs-4 align-left"; style="margin-top: -1rem"> The Best Travel Planner</p>
        <div class="container mt-5 mb-5">
            <p class="fs-5">Welcome to GottaGo! Your best bet for all your travel planning needs.</p>
            <p class="fs-5">Here, you can plan your travels with friends or family. You are able to create, join, and manage plans through our group system, and comment across your joined plans as needed. For each plan you are able to add subdestinations, optimizing your travel route as you see fit! </p>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4 mb-4 mt-5">
                    <h5 class="fw-bold" >Profile</h5>
                    {% if user.is_authenticated %}
                        <div class="icon-hover">
                            <a href="{% url 'profile' %}"> {% bs_icon 'person-circle' size="3rem" color="#6a5acd" %}</a>
                        </div>
                    {% else %}
                        <div class="icon-hover">
                            <a href="{% url 'profile' %}"> {% bs_icon 'person-circle' size="3rem" color="grey" %}</a>
                        </div>
                    {% endif %}
                    <p class="mt-2">View and edit your user profile.</p>
                </div>

                <div class="col-md-4 mb-4 mt-5">
                    <h5 class="fw-bold">Travel Plans</h5>
                    {% if user.is_authenticated %}
                        <div class="icon-hover">
                            <a href="{% url 'plans' %}"> {% bs_icon 'briefcase-fill' size="3rem" color="black" %}</a>
                        </div>
                    {% else %}
                        <div class="icon-hover">
                            <a href="{% url 'plans' %}"> {% bs_icon 'briefcase-fill' size="3rem" color="grey" %}</a>
                        </div>
                    {% endif %}
                    <p class="mt-2">View, create, and manage your travel plans.</p>
                </div>

                <div class="col-md-4 mb-4 mt-5">
                    <h5 class="fw-bold">Create Travel Plan</h5>
                    {% if user.is_authenticated %}
                        <div class="icon-hover">
                            <a href="{% url 'project_creator' %}"> {% bs_icon 'plus-circle-fill' size="3rem" color="#00ffbb" %}</a>
                        </div>
                    {% else %}
                        <div class="icon-hover">
                            <a href="{% url 'project_creator' %}"> {% bs_icon 'plus-circle-fill' size="3rem" color="grey" %}</a>
                        </div>
                    {% endif %}
                    <p class="mt-2">Create new travel plans and set destinations.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 mb-4 mt-3">
                    <h5 class="fw-bold">Requests</h5>
                    {% if user.is_authenticated %}
                        <div class="icon-hover">
                            <a href="{% url 'joinrequests' %}"> {% bs_icon 'envelope-open-fill' size="3rem" color="#ffb3cb" %}</a>
                        </div>
                    {% else %}
                        <div class="icon-hover">
                            <a href="{% url 'joinrequests' %}"> {% bs_icon 'envelope-open-fill' size="3rem" color="grey" %}</a>
                        </div>
                    {% endif %}
                    <p class="mt-2">Manage group join requests received.</p>
                </div>

                <div class="col-md-4 mb-4 mt-3">
                    <h5 class="fw-bold">Explore All Plans</h5>
                    {% if user.is_authenticated %}
                        <div class="icon-hover">
                            <a href="{% url 'explore_plans' %}"> {% bs_icon 'airplane-fill' size="3rem" color="white" %}</a>
                        </div>
                    {% else %}
                        <div class="icon-hover">
                            <a href="{% url 'explore_plans' %}"> {% bs_icon 'airplane-fill' size="3rem" color="white" %}</a>
                        </div>
                    {% endif %}
                    <p class="mt-2">View a listing of all existing travel plans.</p>
                </div>

                <div class="col-md-4 mb-4 mt-3">
                    <h5 class="fw-bold">Join Groups</h5>
                    {% if user.is_authenticated %}
                        <div class="icon-hover">
                            <a href="{% url 'join_group' %}"> {% bs_icon 'people-fill' size="3rem" color="#87ceeb" %}</a>
                        </div>
                    {% else %}
                        <div class="icon-hover">
                            <a href="{% url 'join_group' %}"> {% bs_icon 'people-fill' size="3rem" color="grey" %}</a>
                        </div>
                    {% endif %}
                    <p class="mt-2">Join travel groups to collaborate with others.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

</html>