{% extends "users/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load custom_filters %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GottaGo - Home</title>
</head>

{% block content %}
    <div class="text-center pt-4">
            <div class="d-flex justify-content-center align-items-center mb-3">
                <img src="{% static 'images/gottago_logo.png' %}" alt="GottaGo Logo" class="img-fluid" style="max-width: 120px; height: auto">

                <h1 class="display-4 fw-semibold me-2">GottaGo</h1>
            </div>
            <p class="lead fw-light fs-4 align-left"; style="margin-top: -1rem"> The Best Travel Planner</p>
        <div class="container mt-4 mb-4">
            <div class="desc-box">
                <p class="fs-5">Welcome to GottaGo! Your best bet for all your travel planning needs.</p>
                <p class="fs-5">Here, you can plan your travels with friends or family. You are able to create, join, and manage plans through our group system, and comment across your plans as needed. For each plan you are able to add subdestinations, optimizing your travel route as you see fit! </p>
            </div>
        </div>

        <div class="container mt-2">
            <div class="row">
                <div class="col-md-4 mb-4 mt-5">
                    <div class="home-box">
                        {% if user.is_authenticated %}
                            <div class="icon-hover">
                                <a href="{% url 'profile' %}"> {% bs_icon 'person-circle' size="3rem" color="#2F4289" %}</a>
                            </div>
                        {% else %}
                            <div class="icon-hover">
                                <a href="{% url 'profile' %}"> {% bs_icon 'person-circle' size="3rem" color="#5E5C6C" %}</a>
                            </div>
                        {% endif %}
                        <h5 class="fw-bold" style="margin-top: 5px" >Profile</h5>
                        <p class="mt-0">View and edit your user profile.</p>
                    </div>
                </div>

                <div class="col-md-4 mb-4 mt-5">
                    <div class="home-box">
                        {% if user.is_authenticated %}
                            <div class="icon-hover">
                                <a href="{% url 'plans' %}"> {% bs_icon 'briefcase-fill' size="3rem" color="#2F4289" %}</a>
                            </div>
                        {% else %}
                            <div class="icon-hover">
                                <a href="{% url 'plans' %}"> {% bs_icon 'briefcase-fill' size="3rem" color="#5E5C6C" %}</a>
                            </div>
                        {% endif %}
                        <h5 class="fw-bold" style="margin-top: 5px">Travel Plans</h5>
                        <p class="mt-0">View, create, and manage your travel plans.</p>
                    </div>
                </div>

                <div class="col-md-4 mb-4 mt-5">
                    <div class="home-box">
                        {% if user.is_authenticated %}
                            <div class="icon-hover">
                                <a href="{% url 'project_creator' %}"> {% bs_icon 'plus-circle-fill' size="3rem" color="#2F4289" %}</a>
                            </div>
                        {% else %}
                            <div class="icon-hover">
                                <a href="{% url 'project_creator' %}"> {% bs_icon 'plus-circle-fill' size="3rem" color="#5E5C6C" %}</a>
                            </div>
                        {% endif %}
                        <h5 class="fw-bold" style="margin-top: 5px">Create Travel Plan</h5>
                        <p class="mt-0">Create new travel plans and set destinations.</p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 mb-4 mt-3">
                    <div class="home-box">
                        {% if user.is_authenticated %}
                            <div class="icon-hover">
                                <a href="{% url 'joinrequests' %}"> {% bs_icon 'envelope-open-fill' size="3rem" color="#2F4289"%}</a>
                            </div>
                        {% else %}
                            <div class="icon-hover">
                                <a href="{% url 'joinrequests' %}"> {% bs_icon 'envelope-open-fill' size="3rem" color="#5E5C6C" %}</a>
                            </div>
                        {% endif %}
                        <h5 class="fw-bold" style="margin-top: 5px">Requests</h5>
                        <p class="mt-0">Manage group join requests received.</p>
                    </div>
                </div>

                <div class="col-md-4 mb-4 mt-3">
                    <div class="home-box">
                        {% if user.is_authenticated %}
                            <div class="icon-hover">
                                <a href="{% url 'explore_plans' %}"> {% bs_icon 'airplane-fill' size="3rem" color="#2F4289"%}</a>
                            </div>
                        {% else %}
                            <div class="icon-hover">
                                <a href="{% url 'explore_plans' %}"> {% bs_icon 'airplane-fill' size="3rem" color="#2F4289" %}</a>
                            </div>
                        {% endif %}
                        <h5 class="fw-bold" style="margin-top: 5px">Explore All Plans</h5>
                        <p class="mt-0">View a listing of all existing travel plans.</p>
                    </div>
                </div>

                <div class="col-md-4 mb-4 mt-3">
                    <div class="home-box">
                        {% if user.is_authenticated %}
                            <div class="icon-hover">
                                <a href="{% url 'join_group' %}"> {% bs_icon 'people-fill' size="3rem" color="#2F4289" %}</a>
                            </div>
                        {% else %}
                            <div class="icon-hover">
                                <a href="{% url 'join_group' %}"> {% bs_icon 'people-fill' size="3rem" color="#5E5C6C" %}</a>
                            </div>
                        {% endif %}
                        <h5 class="fw-bold" style="margin-top: 5px">Join Groups</h5>
                        <p class="mt-0">Join travel groups to collaborate with others.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

</html>