<!--
/***************************************************************************************
*  REFERENCES
*  Title: Django tutorial - How to authenticate using Google #20
*  Author: Rokas Liuberskis
*  Date: Sep 5, 2022
*  URL: https://www.youtube.com/watch?v=Gk9tsLHMMsM
***************************************************************************************
-->

{% extends "users/base.html" %}
{% load bootstrap5 %}
{% load socialaccount %}
{% block content %}
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="mb-3 fw-semibold fs-2">Begin Your Journey</h1>
            <button class="btn btn-primary btn-lg" onclick="window.location.href='{% provider_login_url 'google' %}?next=/'">
                <i class="fab fa-google"></i> Login with Google
            </button>
        </div>
    </div>
{% endblock content %}