{% extends "users/base.html" %}
{% block navbar_and_footer %}
{% load custom_filters %}
{% load static %}
{% block content %}


<div class="plans-form rounded-2 shadow-sm p-4 py-5 bg-white">
    <h1 class="text-center mb-3 fs-3 fw-bold">Travel Plans</h1>
    {% if user.is_authenticated %}
        {% if travel_plans%}
            <div class="list-group">
            {% for plan in travel_plans %}

            <div style="display: flex; align-items: center; justify-content: center; padding-bottom: 20px;">
                        {% if plan.jpg_upload_file %}
                        <img src="{{ plan.jpg_upload_file.url }}" style="width: 100px; height: 100px; margin-right: 10px;"
                                 class="rounded" alt="{{ plan.plan_name }} image"/>
                        {% else %}
                            <img src="{% static '/images/no_image.jpg' %}" style="width: 100px; height: 100px; margin-right: 10px;"
                            class="rounded" alt="no image"/>
                        {% endif %}
                        <p style = "margin-right: 200px" class="text-center mt-2 fs-5 text-paragraph"><a href="{% url 'detail' plan.primary_group_code %}">{{ plan.plan_name }}</a> - Group Code: {{plan.primary_group_code}}</p>
                        {% if plan.user == user %}
                        <a href="{% url 'delete_travel_plan' %}?id={{ plan.id}}" class="btn btn-danger">Delete Plan</a>
                        {% else %}
                        <a href="{% url 'leave_travel_plan' %}?id={{ plan.id}}" class="btn btn-danger">Leave Plan</a>
                        {% endif %}
            </div>
            {% endfor %}
            </div>
        {% else %}
            <p class="text-center mt-2 fs-5 text-paragraph">No plans are available, create one <a href="{% url 'project_creator' %}">here</a>.</p>
        {% endif %}
    {% else %}
        <p class="text-center mt-5 fs-4"><a href="{% url 'login' %}">Log in</a> to access projects</p>
    {% endif %}
</div>

{% endblock content %}
{% endblock %}