{% extends "users/base.html" %}
{% block navbar_and_footer %}
{% load custom_filters %}
{% load static %}
{% block content %}


<div class="plans-form rounded-2 shadow-sm p-4 py-5 bg-white">
    <h1 class="text-center mb-3 fs-3 fw-bold">Travel Plans</h1>
    {% if user.is_authenticated %}
        {% if travel_plans%}
            <div class="list-group">
            {% for plan in travel_plans %}
            <p style = "margin-right: 200px" class="text-left mt-2 fs-5 text-paragraph">
                <a href="{% url 'detail' plan.primary_group_code %}"> <span class="fw-bold">{{ plan.plan_name }}</span></a> - Group Code: {{plan.primary_group_code}}
            </p>
            <div style="display: flex; align-items: start; justify-content: start; padding-bottom: 20px;">
                        {% if plan.jpg_upload_file %}
                        <img src="{{ plan.jpg_upload_file.url }}" style="width: 200px; height: 200px; margin-right: 20px;"
                                 class="rounded" alt="{{ plan.plan_name }} image"/>
                        {% else %}
                            <img src="{% static 'images/no_image.jpg' %}" style="width: 100px; height: 100px; margin-right: 10px;"
                            class="rounded" alt="no image"/>
                        {% endif %}

{#                        {% if plan.user == user %}#}
{#                            {% if destinations %}#}
{#                                {% regroup destinations by travel_plan.id as destinations_for_each_plan %}#}
{#                                    <div class="flex-container ms-0">#}
{#                                        {% for dest in destinations_for_each_plan %}#}
{#                                            {% if dest.grouper == plan.id %}#}
{#                                                {% for destination in dest.list|slice:"0:4" %}#}
{#                                                    {% if destination.jpg_upload_file %}#}
{#                                                        <img src="{{ destination.jpg_upload_file.url }}" style="width: 100px; height: 100px; margin-right: 10px;"#}
{#                                                        class="rounded" alt="{{ plan.plan_name }} image"/>#}
{#                                                    {% endif %}#}
{#                                                {% endfor %}#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                            {% endif %}#}
{#                        <a href="{% url 'delete_travel_plan' %}?id={{ plan.id}}" class="btn btn-danger ms-auto">Delete Plan</a>#}
{#                        {% else %}#}
{#                        <a href="{% url 'leave_travel_plan' %}?id={{ plan.id}}" class="btn btn-danger ms-auto">Leave Plan</a>#}
{#                        {% endif %}#}
            </div>
            {% endfor %}
            </div>

            <div class="pagination" style="justify-content: center">
                <span class="step-links">
                    {% if travel_plans.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ travel_plans.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ travel_plans.number }} of {{ travel_plans.paginator.num_pages }}.
                    </span>

                    {% if travel_plans.has_next %}
                        <a href="?page={{ travel_plans.next_page_number }}">next</a>
                        <a href="?page={{ travel_plans.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <p class="text-center mt-2 fs-5 text-paragraph">No plans are available, create one <a href="{% url 'project_creator' %}">here</a>.</p>
        {% endif %}
    {% else %}
        <p class="text-center mt-5 fs-4"><a href="{% url 'login' %}">Log in</a> to access projects</p>
    {% endif %}
</div>

{% endblock content %}
{% endblock %}