{% extends "users/base.html" %}
{% block navbar_and_footer %}
{% load custom_filters %}
{% load static %}

<head>
    <title>Create Plan</title>
</head>

<body>
    <h1>Create Plan</h1>
    {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-success">Save</button>
    </form>
{% else %}
    <p>Log in to access project creation</p>
{% endif %}

</body>
{% endblock %}